@charset "utf-8";

body {
  background: #000;
  color: #0c0;
  font-family: 'DotGothic16', sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1;
}

#y-m-d {
  font-size: 6vw;
  margin: 1rem 0;
}

#h-m-s {
  font-size: 20vw;
  margin: 1rem 0;
}
